// COLORS
$primary-color: #0f0627;
$secondary-color: #000000;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #ffffff;

$dark-grey: #1a1919;

$dark-blue-text: #364f6b; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
